absl-py==2.3.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiohttp-retry==2.9.1
aiosignal==1.3.1
aiosqlite==0.21.0
alembic==1.16.2
altair==5.5.0
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==3.7.1
apsw==3.48.0.0
apswutils==0.0.2
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-lru==2.0.5
attrs==24.2.0
babel==2.17.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.1
binaryornot==0.4.4
bitarray==3.0.0
bleach==6.2.0
blinker==1.9.0
boto3==1.29.7
botocore==1.32.7
cachetools==5.5.0
celery==5.3.4
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
ckzg==2.0.1
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
comtypes==1.4.11
contourpy==1.3.1
cookiecutter==2.6.0
crispy-tailwind==1.0.3
cron-descriptor==1.4.5
cryptography==44.0.0
cssselect2==0.8.0
cycler==0.12.1
cytoolz==1.0.0
dateparser==1.2.2
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
dj-rest-auth==5.0.2
Django==4.2.23
django-allauth==0.57.0
django-bootstrap-modal-forms==2.2.0
django-bootstrap3==22.2
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-ckeditor==6.7.3
django-classy-tags==4.1.0
django-cms==5.0.1
django-cors-headers==4.3.1
django-countries==7.6.1
django-crispy-forms==2.4
django-csp==4.0
django-embed-video==0.2.0
django-entangled==0.6.2
django-extensions==4.1
django-filer==3.3.1
django-filter==23.3
django-forms-bootstrap==3.1.0
django-formtools==2.5.1
django-fsm==2.8.2
django-jazzmin==3.0.1
django-js-asset==2.2.0
django-oauth-toolkit==1.7.1
django-parler==2.3
django-polymorphic==4.1.0
django-sekizai==4.1.0
django-storages==1.14.2
django-timezone-field==7.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangocms-admin-style==3.3.1
djangocms-alias==2.0.3
djangocms-attributes-field==4.0.0
djangocms-frontend==2.1.2
djangocms-link==5.0.1
djangocms-text==0.8.7
djangocms-versioning==2.3.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
easy-thumbnails==2.10
elevenlabs==1.56.0
email_validator==2.1.1
entrypoints==0.4
et_xmlfile==2.0.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eth_abi==5.1.0
executing==2.2.0
Faker==37.5.3
fastapi==0.115.14
fastcore==1.7.28
fastjsonschema==2.21.1
fastlite==0.1.1
favicon==0.7.0
filelock==3.16.1
Flask==2.0.3
flask-chartjs==0.1.dev1
flask-cors==6.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==25.2.10
flet==0.28.3
flet-cli==0.28.3
flet-core==0.15.0
flet-desktop==0.28.3
flet-runtime==0.15.0
flet-web==0.28.3
fonttools==4.55.3
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.5.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
gitdb==4.0.12
GitPython==3.1.44
granian==2.4.1
greenlet==3.1.1
gTTS==2.5.4
gunicorn==21.2.0
h11==0.16.0
hexbytes==1.2.1
htbuilder==0.9.0
html5lib==1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.6.2
jaxlib==0.6.2
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jwcrypto==1.5.6
kiwisolver==1.4.8
kombu==5.5.4
llvmlite==0.44.0
lxml==5.4.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.21
mistune==3.1.2
ml_dtypes==0.5.1
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.1.0
mysqlclient==2.2.7
narwhals==1.22.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nh3==0.2.21
notebook==7.3.3
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
openai==1.3.5
opencv-contrib-python==4.11.0.86
opencv-python==4.8.1.78
openpyxl==3.1.5
opt_einsum==3.4.0
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.0.3
pandocfilters==1.5.1
parsimonious==0.10.0
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.4
pefile==2023.2.7
pillow==11.3.0
pipenv==2024.4.0
platformdirs==4.3.8
plotly==5.24.1
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==4.25.5
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyarrow==18.1.0
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pygame==2.6.1
Pygments==2.18.0
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
PyJWT==2.9.0
pymdown-extensions==10.14
PyMySQL==1.1.1
pyparsing==3.2.1
pypdf==5.6.0
pypdfium2==4.30.0
pypiwin32==223
pypng==0.20220715.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pyshorteners==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.6
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-engineio==4.12.2
python-fasthtml==0.12.0
python-json-logger==3.3.0
python-multipart==0.0.20
python-slugify==8.0.4
python-socketio==5.13.0
python3-openid==3.2.0
pyttsx3==2.98
pytube==15.0.0
pytz==2024.2
pyunormalize==16.0.0
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.3.0
qrcode==7.4.2
ratelim==0.1.6
redis==5.0.1
referencing==0.35.1
reflex==0.8.0
reflex-hosting-cli==0.1.51
regex==2024.11.6
repath==0.9.0
reportlab==4.4.1
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rlp==4.0.1
rpds-py==0.22.3
s3transfer==0.8.0
scikit-learn==1.3.0
scipy==1.16.0
selenium==4.30.0
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==75.8.0
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sortedcontainers==2.4.0
sounddevice==0.5.2
soupsieve==2.6
SpeechRecognition==3.10.0
SQLAlchemy==2.0.41
sqlmodel==0.0.24
sqlparse==0.4.3
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
starlette==0.45.2
streamlit==1.29.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-lottie==0.0.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
svglib==1.5.1
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
toolz==1.0.0
torch==2.7.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
twilio==9.4.5
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.2
uri-template==1.3.0
uritools==5.0.0
urllib3==2.0.7
uvicorn==0.34.0
validators==0.34.0
vine==5.1.0
virtualenv==20.29.1
voila==0.5.8
watchdog==3.0.0
watchfiles==1.0.4
wcwidth==0.2.13
web3==7.5.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==2.0.3
whitenoise==6.6.0
wikipedia==1.4.0
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.2.1
xhtml2pdf==0.2.17
yarl==1.17.2
yt-dlp==2024.12.6
zipp==3.21.0
